.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home {
  padding: 16px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.photo-item img {
  width: 100%;
  height: 30vh;
  border-radius: 8px;
  object-fit: cover;
}

.photo-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.photo-detail h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.photo-detail p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.photo-detail img {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-detail p span {
  font-weight: bold;
  color: #007BFF;
}

.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.view_button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.view_button:hover {
  background-color: #0056b3;
}

.app_logo {
  height: 20vh;

  pointer-events: none;
}

.notification {
  height: fit-content;
  font-size: 18px;
  color: #666;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

